html,body{
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;

    font-size: medium;
    background: url('../pic/invest_background.jpg')no-repeat center center fixed;

    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}

.map{
    display: block;
    margin: 3% auto 15px auto;
}

.policko{
    text-align: center;
    color: white;
    font-size: 20px;
    background: RGBA(0,0,0,0.7);
    padding: 20px;
    margin: 15px 30%;
    min-width: 20%;
    max-width: 40%;
}